#a{
    background-image: url(https://www.tastingtable.com/img/gallery/20-delicious-indian-dishes-you-have-to-try-at-least-once/l-intro-1645057933.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: xx-large;
    font-style: normal;
    color: aliceblue;
}
h3{
    font-size: x-large;
    font-style: normal;
    color: aliceblue;

}
h6{
    margin-left: 100px;
    text-decoration: none;
    color: white;
    padding-top: 30px;
}
#b{
    background-color: gray;
}
#c{
    color: azure;
    float: right;
}
#bb{
    display: flex;
    
    background-color: paleturquoise;
}